.btn-group{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
a {
    background-color: #653ea5;
    color: white;
    padding: 2em 2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    margin:3%;

}

a:hover {
    background-color: #b06ad4;
}

a:active {
    background-color: black;
}

h1{
    text-align:center;
    font-size: 75px;
    margin-bottom:10%;
    margin-top:10%;
    color: #653ea5;
}
body{
    background-color: #ffef9b;
}
