.btn-group{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
a {
    background-color: #653ea5;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    font-size: 2em;
    margin: 3% 0;
    line-height: 55px;

}

a:hover {
    background-color: #b06ad4;
}


h1{
    text-align:center;
    font-size: 75px;
    margin-bottom:2%;
    margin-top:2%;
    color: #653ea5;
}
body{
    background-color: #ffef9b;
}
.image{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
}