<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Records</title>
  <link href="records.css" rel="stylesheet">
    <link rel="icon" href="/1.png" type="image/icon type">
</head>
<body>
<div class = "title">
  <h1>Рекорды</h1>
</div>

<table class="table">
  <tr>
        <th>Имя пользователя</th>
        <th>Время</th>
        <th>Количество кликов</th>
        <th>Дата</th>
  </tr>
      <#list records as record>
      <tr>
        <td>${record.userName!"Unknown"}</td>
        <td>${record.time!"00:00:00"}</td>
        <td>${record.clicks!00}</td>
        <td>${record.date!"01-01-2022"}</td>
      </tr>
      </#list>
</table>
<div class = "btn-group">
    <a href="./">На главную</a>
</div>
</body>
</html>
