<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reward</title>
  <script src="/reward.js"></script>
  <link rel="stylesheet" href="/reward.css">
  <link rel="icon" href="/1.png" type="image/icon type">
</head>
<body>
<div class="wrapper">
  <div>
    <p>Поздравляем!</p>
    <img src="/victory.png" class="image">
    <p>Время: <span id="time">00:00:00</span></p>
    <p>Количество ходов: <span id="clicks">0</span></p>
    <div class="text">
      <form>
        <label>Введите имя:</label>
        <input type="text" id="username">
      </form>
    </div>
    <div class = "btn-group">
      <a href="#" id="save-btn" onclick="return saveData(this)">Сохранить</a>
      <a href="./">На главную</a>
    </div>
  </div>
</div>

</body>
</html>